@(datalist: String, labels: String)
<html>
<head>
  <script src='@routes.Assets.at("javascripts/Chart.js")'
type='text/javascript'></script>
</head>
<body>
<canvas id="myChart" width="600" height="400"></canvas>

<script>

var data = {
	labels : @{Html(labels)},
	datasets : [
		{
			fillColor : "rgba(220,220,220,0.5)",
			strokeColor : "rgba(220,220,220,1)",
			pointColor : "rgba(220,220,220,1)",
			pointStrokeColor : "#fff",
			@datalist
		}
	]
}

var ctx = document.getElementById("myChart").getContext("2d");
var myNewChart = new Chart(ctx).Line(data);

</script>
</body>
</html>
